<div class="container mx-auto" data-controller="products" data-action="click->products#clickOutside">

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Products" %>

  <!-- Button to trigger modal -->
  <div class="flex justify-between items-center">
    <button id="new-product-btn" class="bg-blue-500 text-white px-4 py-2 rounded" data-action="click->products#openModal">
      Add New Product
    </button>
  </div>

  <div class="flex flex-col w-full">
    <div class="overlow-x-auto sm:mx-0.5 lg:mx-0.5">
      <div class="py-2 inline-block min-w-full">
        <div class="overlow-x-auto">
          <table class="min-w-full overflow-x-scroll">
            <thead class="bg-white border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
                </th>
                <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
                  Name
                </th>
                <th scope="col" class="text-sm font-medium text-gray-800 px-6 py-4 text-left">
                  Description 
                </th>
              </tr>
            </thead>
            <tbody is="turbo-frame" id="products">
              <%= render @admin_products %>
            </tbody>
          </table>
          <div class="mt-8">
          <%= paginate @admin_products %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="product-modal" class="hidden fixed z-50 inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white p-6 rounded-lg w-1/3">
      <h2 class="text-2xl font-semibold mb-4">Add New Product</h2>
      <div data-action="turbo:submit-end->products#hideOnSubmit">
        <%= render 'form', admin_product: @admin_product %>
      </div>
      <button class="mt-4 bg-red-500 text-white px-4 py-2 rounded" data-action="click->products#closeModal">Close</button>
    </div>
  </div>

</div>

